# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.dll
*.dylib

# Folders
_obj
_test
__pycache__/

# Compiled executables
*.exe
*.exe~
*.dll
*.so
*.dylib
l7-lb
l7-lb.exe

# Go Test coverage and profiling
coverage.out
*.prof

# Large model files
models/*.onnx
models/*.onnx.data

# Logs
*.log

# Editor and OS specifics
.DS_Store
.idea/
.vscode/
*.swp
